<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Tờ Khai Y Tế</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link rel="stylesheet" th:href="@{/home/css/yearpicker.css}">
    <link rel="stylesheet" th:href="@{/home/css/style.css}">
    <!--===============================================================================================-->
    <link rel="icon" th:href="@{/home/images/icons/favicon.ico}" type="image/png"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/home/vendor/bootstrap/css/bootstrap.min.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/home/fonts/font-awesome-4.7.0/css/font-awesome.min.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/home/fonts/iconic/css/material-design-iconic-font.min.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/home/vendor/animate/animate.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/home/vendor/css-hamburgers/hamburgers.min.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/home/vendor/animsition/css/animsition.min.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/home/vendor/select2/select2.min.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/home/vendor/daterangepicker/daterangepicker.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/home/vendor/noui/nouislider.min.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/home/css/util.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/home/css/main.css}" type="text/css">
    <!--===============================================================================================-->
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-bs4.min.css" rel="stylesheet">
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/jquery-slim@3.0.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

</head>
<body>


<div class="container-contact100">
    <div class="wrap-contact100">
        <form class="contact100-form validate-form"
              novalidate="novalidate" th:action="@{/save}"

              th:method="post" th:object="${person}">
				<span class="contact100-form-title">
					THÔNG TIN KHAI BÁO Y TẾ
				</span>


            <div class="wrap-input100 validate-input bg1 khaiho">
                <span class="label-input100">Khai hộ</span>
                <input type="checkbox" class="style-radio" id="1" value="1" th:field="*{khaiho}"
                       onclick="ham_anh_Vinh_moi_viet()">
                <input type="checkbox" class="style-radio" id="0" value="0" th:field="*{khaiho}" checked hidden>
            </div>

            <div class="wrap-input100 validate-input bg1">
                <span class="label-input100">Họ Tên</span>
                <input class="input100" th:field="*{fullName}" type="text"/>
            </div>

            <div class="wrap-input100 validate-input bg1">
                <span class="label-input100">Số CMND / số Hộ Khẩu</span>
                <input class="input100" th:field="*{passportNumber}" type="text"/>
            </div>

            <div class="wrap-input100 validate-input bg1 ">
                <span class="label-input100">Số điện thoại</span>
                <input class="input100" th:field="*{phoneNumber}" type="text">
            </div>


            <div class="wrap-input100 validate-input bg1">
                <span class="label-input100">Email</span>
                <input class="input100" th:field="*{email}" type="text">
            </div>

            <div class="wrap-input100 validate-input bg1 rs1-wrap-input100">
                <span class="label-input100">Năm sinh</span>
                <!--                <input class="input100 yearPicker" th:field="*{yob}" type="text">-->
                <input type="text" class="yearpicker input100" th:field="*{yob}" value=""/>
            </div>


            <div class="wrap-input100 validate-input bg1 rs1-wrap-input100">
                <span class="label-input100">Giới tính</span>
                <div>
                    <select class="js-select2" th:field="*{gender}">
                        <option value="Nam">Nam</option>
                        <option value="Nữ">Nữ</option>
                        <option value="Nam">Khác</option>
                    </select>
                    <div class="dropDownSelect2"></div>
                </div>
            </div>


            <div class="wrap-input100 validate-input bg1 rs1-wrap-input100">
                <span class="label-input100">Tỉnh thành</span>
                <div>
                    <select class="js-select2" id="province" name="province">
                    </select>
                    <div class="dropDownSelect2"></div>
                </div>
            </div>

    <input id='cainayanhvinhve' type="hidden" th:value="${hello}">
            <div class="wrap-input100 validate-input bg1 rs1-wrap-input100">
                <span class="label-input100">Quận, huyện</span>
                <div>
                    <select class="js-select2" id="district" name="district">
                    </select>
                    <div class="dropDownSelect2"></div>
                </div>
            </div>


            <div class="wrap-input100 validate-input bg1 rs1-wrap-input100">
                <span class="label-input100">Phường, xã</span>
                <div>
                    <select class="js-select2 " id="ward" name="ward">
                    </select>
                    <div class="dropDownSelect2"></div>
                </div>
            </div>


            <div class="wrap-input100 validate-input bg1 rs1-wrap-input100">
                <span class="label-input100">Số nhà, tổ dân phố, thôn, xóm..</span>
                <input class="input100" data-rule-required="" id="street" name="street" type="text">
            </div>


            <div class="wrap-input100 bg1">
                <span class="label-input100">Trong vòng 14 ngày qua,
                    Anh/Chị có đến quốc gia/vùng lãnh thổ nào (Có thể đi qua nhiều quốc gia)</span>
                <textarea class="input100"  id="actIn14days" name="actIn14days"></textarea>
            </div>


            <div class="wrap-input100 validate-input bg1">
                <div class="tableChoiceData  bg1 ">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Triệu chứng (nếu có)</th>
                            <th class="text-center" width="70">Có</th>
                        </tr>
                        </thead>
                        <tbody id="symptom" name="symptom">
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="wrap-input100 validate-input bg1">
                <div class="tableChoiceData  bg1 ">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Trong 14 ngày qua, Anh / Chị có tiếp xúc với</th>
                            <th class="text-center" width="70">Có</th>
                        </tr>
                        </thead>
                        <tbody id="contact" name="contact">
                    </table>
                </div>
            </div>


            <div class="wrap-input100 validate-input bg1">
                <div class="tableChoiceData  bg1 ">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Hiện tại Anh/Chị có các bệnh nào dưới đây</th>
                            <th class="text-center" width="70">Có</th>
                        </tr>
                        </thead>
                        <tbody id="sick" name="sick">
                    </table>
                </div>
            </div>

            <div class="container-contact100-form-btn">
                <button class="contact100-form-btn">
						<span>
							GỬI TỜ KHAI
							<input class="fa fa-long-arrow-right m-l-7" type="submit" id="myBtn" value="">
						</span>
                </button>
            </div>
        </form>

        <div style="padding-left: 700px">
            <form style="padding-top: 50px" th:action="@{/admin/dashboard}" th:method="get">
                <button class="contact100-form-btn1">
                    <img height="50px" th:src="@{/home/images/unnamed.png}" width="50px">
                </button>
            </form>
        </div>
    </div>
</div>



<script th:src="@{/home/vendor/jquery/jquery-3.2.1.min.js}"></script>
<script th:src="@{/home/vendor/animsition/js/animsition.min.js}"></script>
<script th:src="@{/home/vendor/bootstrap/js/popper.js}"></script>
<script th:src="@{/home/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/home/vendor/select2/select2.min.js}"></script>
<script th:src="@{/home/vendor/daterangepicker/moment.min.js}"></script>
<script th:src="@{/home/vendor/daterangepicker/daterangepicker.js}"></script>
<script th:src="@{/home/vendor/countdowntime/countdowntime.js}"></script>
<script th:src="@{/home/vendor/noui/nouislider.min.js}"></script>
<script th:src="@{/home/js/main.js}"></script>
<script th:src="@{/home/js/select2.js}"></script>
<script th:src="@{/home/js/address.js}"></script>
<script th:src="@{/home/js/option.js}"></script>


<script th:src="@{/home/js/yearpicker.js}" async></script>


<script>
    $(document).ready(function () {
        setTimeout(function () {
            $(".yearpicker").yearpicker({
                year: 2000,
                startYear: 1980,
                endYear: 2022
            });
        },3000)
    });
</script>

<script>
    $(document).ready(function () {
     if ($('#cainayanhvinhve').val() === "hello") {
     //    $(document).ready(function(){
     //        $("#show").click(function(){
                toastr.success("Khai báo thành công! :)");
     //        });
        // });
     }
    });
</script>

<script>
    provinces.selectProvince();
    symptoms.selectSymptom();
    contacts.selectContact();
    sicks.selectSick();
</script>

<script>
    function ham_anh_Vinh_moi_viet() {
        document.getElementById('0').checked = !document.getElementById('0').checked;
    }
</script>

</body>

</html>
