<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login V1</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!--===============================================================================================-->
    <link rel="icon" th:href="@{/login/images/icons/favicon.ico}" type="image/png"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/login/vendor/bootstrap/css/bootstrap.min.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/login/vendor/animate/animate.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/login/vendor/css-hamburgers/hamburgers.min.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/login/vendor/select2/select2.min.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/login/css/util.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/login/css/main.css}" type="text/css">
    <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img alt="IMG" th:src="@{/login/images/img-01.png}">
            </div>

            <form action="#" class="login100-form validate-form" method="post" th:action="@{/index}">
					<span class="login100-form-title">
						ADMIN LOGIN
					</span>

                <div class="wrap-input100 validate-input">
                    <input autofocus class="input100" id="username" name="username" placeholder="Username" required
                           type="text">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<i aria-hidden="true" class="fa fa-envelope"></i>
						</span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input class="input100" id="password" name="password" placeholder="Password" required
                           type="password">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<i aria-hidden="true" class="fa fa-lock"></i>
						</span>
                </div>

                <div class="container-login100-form-btn" style="padding-bottom: 150px">
                    <button class="login100-form-btn">
                        Đăng nhập
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<!--===============================================================================================-->
<script th:src="@{/login/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/login/vendor/bootstrap/js/popper.js}"></script>
<script th:src="@{/login/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/login/vendor/select2/select2.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/login/vendor/tilt/tilt.jquery.min.js}"></script>
<script>
    $('.js-tilt').tilt({
        scale: 1.1
    })
</script>
<!--===============================================================================================-->
<script th:src="@{/login/js/main.js}"></script>

</body>
</html>